<h3>Create Your Pool!</h3>
<div class="signout_button"><%= link_to "Sign out", "/signout"%></div><br/>
<%= render :partial => "form_new_pool" %><br/>

  <div class="home_button"><%= link_to "My Profile", "/"%></div><br/>
