<h1>Pools#show</h1>
<p>Find me in app/views/pools/show.html.erb</p>
<%= @pool.name %> <br> <br>

<%= @pool.pool_amount %> <br>

<%= Invitation.new.guest %> <br>
<p> Invitation Sent to <%= "#{Invitation.new.guest}" %> !</p>
