
<%= form_for(:invitation, :url => "/invitations/create", :html => {:method => :post}) do |f| %>
 <div class="field">
   <%= f.label(:guest) %>
   <%= f.text_field :guest%><br/>
 </div>

 <div class="actions">
   <%= f.submit "Invite User" %>
 </div>
<% end %>
