<h1>Invitations#new</h1>
<p>Find me in app/views/invitations/new.html.erb</p>

<%= form_for(:invitation, :url => { :action => 'create' }) do |f| %>
 <div class="field">
   <%= f.label(:email) %>
   <%= f.text_field(:email) %><br/>
 </div>


 <div class="actions">
   <%= f.submit ("Create Invitation") %>
 </div>
<% end %>
