/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */


body {
  padding-left: 60px;
}

.welcome {
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 350px;
  padding-right: 400px;
  text-align: center;

}
.venmo_button {
  padding-top: 0px;
  padding-left: 520px;
  padding-right: 400px;

}

.signout_button {
  padding-left: 40px;
}



/* unvisited link */
  // a:link {text-decoration: none;}
/* visited link */
  a:visited { color: #888; }
/* mouse over link */
  a:hover { color: #fff; }
/* selected link */
  a:active { color: #888;}

body {
  padding: 0;
  margin: 0;
  background:#f8f8f8;
}
#nav-bar {
  // border: 1px solid blue;
  height: 35px;
  width:100%;
  background: #202020;
}

.sign-in-out {
  // background: #202020;
  float:right;
  width: 200px;
  // border:1px solid white;
  margin: 10px 50px;
  display:inline-block;
  font-size: 14px;
}

.sign-in-out a:hover{ color:#fff; }
.sign-in-out a { color: #888; text-transform:lowercase; text-decoration:none;}
.sign-in-out a:link { color: #888;}

.title a { color: #888; }

.title {
  color: #fff;
  display:inline-block;
  // border:1px solid white;
  margin: 2px 50px;
  font-size: 26px;
}
.style-bar{
  background:#404040;
  height: 5px;
  width:100%;
}
// #main-content {
//   margin:50px auto;
//   height:500px;
//   border:1px solid blue;
//   background:white;
// }
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
