// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-left: 60px;
}

.welcome {
  padding-top: 140px;
  padding-bottom: 30px;
  padding-left: 350px;
  padding-right: 400px;
  text-align: center;
}

.venmo_button {
  padding-top: 0px;
  padding-left: 520px;
  padding-right: 400px;
}

.signout_button {
  padding-left: 40px; 
}